<br/>
<h1 class="center comp-heading">VALUE CHAIN</h1>
<br/><br/>
<div>
  <div class="col-md-6 center">
    <%= link_to '#', class:"btn btn-danger btn-lg btn-xlg" do%>
    <i class="fa fa-file-video-o" style="font-size:25px;"></i> &emsp; <span style="font-size:20px;">Tutorial</span>
    <% end %>
    <br/><br/>
    <%= link_to value_chain_practice_path(:question => @questionnum,:example => 0), class:"btn btn-primary btn-lg btn-xlg" do%>
    <i class="fa fa-pencil" style="font-size:25px;"></i> &emsp; <span style="font-size:20px;">Practice</span>
    <% end %>
    <br/><br/>
  </div>
  <div class="col-md-6"></div>
</div>
<br/><br/><br/><br/>
<br/><br/><br/><br/>
<br/><br/><br/><br/>
<br/><br/><br/><br/>
<br/><br/><br/>