<div class="jumbotron">

  <div class="container main_content">
    <br/><br/><br/><br/>
    <p id="main_text">PREPARE. PRACTICE. PERFORM. </p>
    <%= link_to "Sign Up!", value_chain_path, class:"btn btn-primary btn-lg"%>
  </div>
  <div class="bg-overlay">
  </div>
</div>
<h1>Home Page</h1>

<%= link_to "Value Chain", value_chain_path %>