<div class="jumbotron jumbotron_image">
  <div class="container main_content">
    <br/><br/><br/><br/>
    <p id="main_text">PREPARE. PRACTICE. PERFORM. </p>
    <%= link_to "Sign Up!", value_chain_path, class:"btn btn-primary btn-lg btn-xlg"%>
  </div>
  <div class="bg-overlay">
  </div>
</div>
<div>
  <div class="col-md-12 center">
    <p id="features">FEATURES</p>
  </div>
</div>
<br/>
<div>
  <div class="col-md-4 center">
    <span class="glyphicon glyphicon-index glyphicon-pencil"></span>
    <br/>
    <p class="feature_text">PREPARE</p>
  </div>
  <div class="col-md-4 center">
    <span class="glyphicon glyphicon-index glyphicon-briefcase"></span>
    <br/>
    <p class="feature_text">PRACTICE</p>
  </div>
  <div class="col-md-4 center">
    <span class="glyphicon glyphicon-index glyphicon-education"></span>
    <br/>
    <p class="feature_text">PERFORM</p>
  </div>
</div>
<br/><br/><br/>
<br/><br/><br/><br/><br/><br/>
