<h1>Practice a question</h1>

<p id="question_space"><%= @initquestion %></p>
<br/>
<textarea id="answer_space" rows="10" cols="50"></textarea>
<br/><br/>
//<%= button_tag "Check!", type: "button", onclick: "myFunc("+"\""+@question.questiontext++"\""+","+"\""+@question.keywordtext+"\""+")" %>
<br/><br/>
<p id="message_space"></p>