<h1>Practice a question</h1>

<p> Question given </p>
<textarea rows="1" id="text-1"></textarea>
<br/>
<br/>

<%= link_to "Home",root_path %>
<button type="button" onClick="myFunc()">Click me!</button>
