<div class="equal">
  <div class="col-md-4 center footer-div">
    <br/>
    <span class="glyphicon glyphicon-footer glyphicon-search"></span> &emsp; &nbsp; &nbsp;<span class="glyphicon glyphicon-footer glyphicon-globe"></span>&emsp; &nbsp; &nbsp;<span class="glyphicon glyphicon-footer glyphicon-phone"></span>
    <br/><br/>
  </div>
  <div class="col-md-4 center footer-div">
    <br/>
    <br/><br/>
  </div>
  <div class="col-md-4 center footer-div">
    <br/>
    © Consult Coachers
    <br/>
    <br/>
  </div>
</div>